.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.angular-google-map-container {
    height: 700px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.popup{
    min-width: 500px;
    max-width: 1500px;
}

.block{
    display: inline-block;
}
