<table st-table="items" class="table table-striped" st-pipe="pipeToTable">
    <thead>
    <tr>
        <th st-sort="category">category</th>
        <th st-sort="additionDate">creation date</th>
        <th>remove</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in items">
        <td onaftersave="onRowChanged(row)" editable-text="row.category">{{row.category}}</td>
        <td>{{row.additionDate | date }}</td>
        <td>
            <a ng-click="delete(row)" ng-show="row.fromServer">
                <span class="glyphicon glyphicon-remove"></span> Remove
            </a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="10" class="text-center">
            <div class="row">
                <div class="col-xs-2">
                    <label for="items">items per page</label>
                    <input class="form-control" ng-model="itemsByPage" id="items" type="number" min="1" value="15">
                </div>
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="20" id="pagination"/>
            </div>
        </td>
    </tr>
    </tfoot>
</table>

<button ng-click="addNewRow()" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add new category</span>
</button>

