<table st-table="items" class="table table-striped" st-pipe="pipeToTable">
    <thead>
    <tr>
        <th st-sort="userName">userName</th>
        <th st-sort="message">message</th>
        <th>analyse</th>
      <th>I&nbsp;statistical<br>approach</th>
      <th>II&nbsp;statistical<br>approach</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in items">
        <td>{{row.userName }}</td>
        <td>{{row.message }}</td>
        <td>
          <a class="btn btn-primary btn-xs" ng-click="popup(row)" uib-popover-template="dynamicPopover.templateUrl"
             popover-title="Details about statistical word analyse" popover-trigger="'outsideClick'" popover-placement="'auto'" popover-class="popup"> analyse </a>
        </td>
      <td style="background-color: {{row.color1}};">{{row.approach1text}}</td>
      <td style="background-color: {{row.color2}};">{{row.approach2text}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="10" class="text-center">
            <div class="row">
              <div class="col-xs-2">
                <label for="items">items per page</label>
                <input class="form-control" ng-model="itemsByPage" id="items" type="number" min="1" value="15">
              </div>
              <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="20" id="pagination"/>
            </div>
        </td>
    </tr>
    </tfoot>
</table>

<button  ng-click="deleteAllPosts()" class="btn btn-primary">
    <i class="glyphicon glyphicon-remove"></i>
    <span>Delete all posts</span>
</button>
