<table st-table="items" class="table table-striped" st-pipe="pipeToTable">
    <thead>
    <tr>
        <th st-sort="category">category</th>
        <th st-sort="amount">amount</th>
        <th st-sort="additionDate">creation date</th>
        <th>edit</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in items">
        <!--<td>{{row.categoryId}}</td>-->
        <td>
            <span editable-select="row.categoryId" e-ng-options="c.id as c.category for c in categories" e-form="rowform">
                {{showStatus(row)}}
            </span>
        </td>
        <td>
            <span editable-text="row.money" e-form="rowform">
                {{row.money | customCurrency:"PLN":".":" ":2:false}}
            </span>
        </td>
        <td>{{row.additionDate | date }}</td>
        <td>
            <form editable-form name="rowform" onaftersave="saveExpense(row)" ng-show="rowform.$visible"
                  class="form-buttons form-inline" shown="inserted == row">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel(); row.fromServer?'':removeRow($index)"
                        class="btn btn-default">
                    cancel
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                <button type="button" class="btn btn-danger" ng-click="delete(row)" ng-show="row.fromServer">del</button>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="10" class="text-center">
            <div class="row">
                <div class="col-xs-2">
                    <label for="items">items per page</label>
                    <input class="form-control" ng-model="itemsByPage" id="items" type="number" min="1" value="15">
                </div>
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="20" id="pagination"/>
            </div>
        </td>
    </tr>
    </tfoot>
</table>

<button ng-click="addNewRow()" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add new expense</span>
</button>

