<!DOCTYPE html>
<html lang="en">
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->

<link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="resources/css/style.css">
<link rel="stylesheet" type="text/css" href="resources/css/simple-sidebar.css">
<link rel="stylesheet" type="text/css" href="resources/angular-chart.css">

<link rel="stylesheet" href="resources/bower_components/nvd3/build/nv.d3.css">
<link href="resources/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">

<script src="resources/jquery.js"></script>
<script src="resources/angular.js"></script>
<script src="resources/bootstrap.js"></script>
<script src="resources/lodash.min.js"></script>
<script src="resources/angular-route.js"></script>
<script src="resources/angular-resource.js"></script>
<script src="resources/angular-simple-logger.js"></script>
<script src="resources/angular-smart-table/dist/smart-table.js"></script>
<script src="resources/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/restangular/latest/restangular.js"></script>
<script src="resources/jquery.bootstrap-growl.js"></script>
<script src="resources/ui-bootstrap-tpls-2.4.0.js"></script>

<script src="app.js"></script>
<script src="app.config.js"></script>
<script src="commons/repobuilder.service.js"></script>
<script src="login/controller.js"></script>
<script src="expense/controller.js"></script>
<script src="categories/controller.js"></script>
<script src="categories/service.js"></script>
<script src="oldies/settings.controller.js"></script>

<head>
    <meta charset="UTF-8">
    <title>expenses</title>
</head>

<body bgcolor=white>

<div ng-app="expenses">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Expenses
                    </a>
                </li>
                <li>
                    <a href="#/expenses">expenses</a>
                </li>
                <li>
                    <a href="#/categories">categories</a>
                </li>
                <li>
                    <a href="#/settings">settings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <div style="display: inline-block; width: 100%;">
            <div class="dropdown pull-right" ng-show="user">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">logged as: {{user.login}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="logout()"><span class="fa fa-sign-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div ng-view></div>
            </div>
        </div>

    </div>
    <!-- /#wrapper -->

</div>
</body>
</html>