<div class="page-header">
	<h2>Login or Register</h2>
</div>



  <div class="row justify-content-start">
	<div class="col-md-6">
			<h2>Login</h2>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">User Name:</label>
				<div class="col-sm-6">
					<input id="username" ng-model="username" type="text" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Password:</label>
				<div class="col-sm-6">
					<input id="password" ng-model="password" type="password" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="rememberMe"> Remember me
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3">
					<input type="submit" value="Log In" class="btn btn-primary" ng-click="login()"/>
				</div>
			</div>
		</form>
	</div>


	<div class="col-md-6">
		<h2>Register</h2>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">User Name:</label>
				<div class="col-sm-6">
					<input id="registerUsername" ng-model="registerUsername" type="text" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Email address:</label>
				<div class="col-sm-6">
					<input id="registerEmail" ng-model="registerEmail" type="email" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">New Password:</label>
				<div class="col-sm-6">
					<input id="registerPass1" ng-model="registerPass1" type="password" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Repeat Password:</label>
				<div class="col-sm-6">
					<input id="registerPass2" ng-model="registerPass2" type="password" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3">
					<input type="submit" value="Register" class="btn btn-primary" ng-click="register()"/>
				</div>
			</div>
		</form>
	</div>
</div>
</div>